<div class="modal fade {% if modal_show == employee.pk %}show-modal{% endif %}"
    id="create-task-for-user-{{employee.pk}}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создание задачи для пользователя {{employee.username}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'control:create-task' pk=employee.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label>Задача</label>
                        <textarea class="form-control" name="{{task_form.text.html_name}}" cols="30" rows="5" required>{{task_form.text.value|default_if_none:''}}</textarea>
                    </div>
                    {% include 'control/partial/display-modal-errors.html' with errors=task_form.text.errors modal_show=modal_show pk=employee.pk %}
                    <div class="form-group">
                        <label>Сроком до (дд.мм.гггг.)</label>
                        <input class="form-control" type="date" name="{{task_form.until_to.html_name}}" required value="{{task_form.until_to.value}}">
                    </div>
                    {% include 'control/partial/display-modal-errors.html' with errors=task_form.until_to.errors modal_show=modal_show pk=employee.pk %}
                    <div class="form-group">
                        <div class="custom-file">
                            <label class="custom-file-label">Файлы к задаче (если необходимо)</label>
                            <input type="file" multiple="true" class="custom-file-input" name="{{task_form.task_files.html_name}}">
                        </div>
                    </div>
                    {% include 'control/partial/display-modal-errors.html' with errors=task_form.task_files.errors modal_show=modal_show pk=employee.pk %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>
