{% extends "control/base.html" %}

{% block navbar %}
<div class="navbar navbar-expand-lg navbar-dark" style="background-color: #0099B0;">
    <div class="container">
        <a class="navbar-brand pt-0" href="{% url 'control:home' %}">Studolymp</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if request.user.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
                    </li>
                {% elif request.user.is_employer %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'control:employees' %}">Мои сотрудники</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'control:profile' %}">Мой профиль</a>
                    </li>
                {% elif request.user.is_employee %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'control:tasks' %}">Мои задачи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'control:profile' %}">Мой профиль</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <span class="navbar-text mr-2">{{ request.user.username }}</span>
                    <a class="btn btn-danger" href="{% url 'users:logout' %}">Выход</a>
                {% else %}
                    <a class="btn btn-yellow" href="{% url 'users:login' %}">Вход</a>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
