{% extends "control/base-navbar.html" %}

{% block title %}Задачи{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="text-center">
        {% if request.user.is_employer %}
            <h3>Задачи сотрудника {{ employee.username }}</h3>
        {% elif request.user.is_employee %}
            <h3>Мои задачи</h3>
        {% endif %}
    </div>
    <table class="table w-75 mx-auto">
        <thead>
            <tr class="text-blue">
                <th>ID</th>
                <th>Текст</th>
                <th>Статус</th>
                <th>Сроком до</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in object_list %}
                <tr>
                    <td>{{task.id}}</td>
                    <td>{{task.text|truncatewords:5}}</td>
                    <td>{{task.get_status_display}}</td>
                    <td>{{task.until_to|date:"d.m.Y"}}</td>
                    <td>
                        <div class="d-flex flex-row">
                            <a class="btn btn-info mr-2" href="{% url 'control:detail-task' pk=task.pk %}">Открыть</a>
                            {% if request.user.is_employee and not task.is_finished %}
                                {% if task.is_waiting %}
                                    <form action="{% url 'control:accept-task' task.pk %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-yellow" type="submit">Принять</button>
                                    </form>
                                {% elif task.is_working %}
                                    <form action="{% url 'control:finish-task' task.pk %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-success" type="submit">Завершить</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <div class="text-center">
            {% include 'control/partial/pagination.html' with page_obj=page_obj %}
        </div>
    {% endif %}
</div>
{% endblock %}
