@import "./globals";

// Libraries
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";

// Components
@import "./custom-buttons";
@import "./custom-text";


.project {
    margin-top: 150px;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 20px;
}

.project-description, .project-author {
    text-align: center;
}

.red-icon {
    color: $red;
}
